<!DOCTYPE html>
<html>
<style type="text/css">

</style>
<link rel="stylesheet" href="assets/css/main.css" />


<body>
    <p class="p">This is a Demo Page on localhost!</p>
    <p class="p">my name is {{demo.name}} and age is {{demo.age}} </p>
    <p class="p">The project is {{projects.name}}</p>
    <ul>
        {{#each projects.skills}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
<script>

</script>

</html>