<div class="col-md-8">
    <h3>Comin Soon</h3>
    {{#if requests}}
        <ul>
            {{#each requests}}
            <li>{{this.phone}}</li>
            <p>----{{this.message}}</p>
            {{/each}}
        </ul>
    {{else}}
        <p>no requests Yet</p>
    {{/if}}
</div>
<div class="col-md-4">
    <h3>Lorem</h3>
</div>

